h1 {
    color: rgb(212, 24, 24);
    background-color: black;

    text-align: center;
}

body {
    background-color: black;
}

.backto {
    width: 120px;
    height: 45px;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
    box-shadow: white 0px 0px 5px;
    text-align: center;

}

.someof {
    width: 120px;
    height: 45px;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
    box-shadow: white 0px 0px 5px;
    text-align: center;

}

header {
    display: flex;
    justify-content: start;
    gap: 670px;
}

.enzo img {
    margin-inline: auto;
    display: block;
    width: 90%;
    border: red;
border-radius: 25px;
}

.info{
margin: 10px;
width: 200px;
height: 166px;
color: red;
}

