body {
    background-color: black;


}

header {
    display: flex;
    justify-content: space-between;
    gap: 700px;
}

h1 {
    color: rgb(212, 24, 24);
    background-color: black;
    text-align: center;
}



.card_holder1 {
    display: flex;
    gap: 10px;
    padding: 10px;

}


.card1 {
    background-color: rgb(122, 137, 151);
    width: 100%;
    border-radius: 15px;
    border: red 5px solid;
}


.card1 img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top;
    border-radius: 15px;

}

.someof {
    width: 120px;
    height: 45px;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
    box-shadow: white 0px 0px 5px;
    text-align: center;

}

.backto {
    width: 120px;
    height: 45px;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
    box-shadow: white 0px 0px 5px;
    text-align: center;

}

.backto:hover {
    background-color: tomato;
    animation-delay: 400ms;
    cursor: pointer;
}

.sand {
    width: 120px;
    height: 40px;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
    box-shadow: white 0px 0px 5px;
    text-align: center;

}

.learn {
    width: max-content;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
    box-shadow: white 0px 0px 5px;
    text-align: center;

}

header {
    display: flex;
    justify-content: start;
    gap: 200px;
}

.hidden {
    display: none;

}

.learn:hover {
    background-color: cornflowerblue;
    animation-delay: 400ms;
    cursor: pointer;
}