body{
background-color: black;


}






.card_holder1 {
    display: flex;
    gap: 10px;
    padding: 10px;

}


.card1 {
    background-color: rgb(122, 137, 151);
    width: 100%;
    border-radius: 15px;
    border: red 5px solid;
}


.card1 img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top;
    border-radius: 15px;

}


   
.clone {
width: 140px;
color: rgb(212, 24, 24);

}

.sand{
width: px;
color: rgb(212, 24, 24);
padding: 10px;

}








