h1{color: rgb(212, 24, 24);
background-color: black;
width: 500px;
}
h2{color: chocolate;
background-color: blueviolet;
width: 500px;
}
body{background-color: darkgrey;

}
.box{background-color:blue;
    color: white;
    border-radius: 5px;
    box-shadow: white 0px 0px 10px;
width: 100px;
height: 100px;;




}

