h1 {
    color: rgb(212, 24, 24);
    background-color: black;
    width: 1100px;
}

h2 {
    color: red;
    background-color: black;
    width: 355px;
}

body {
    background-color: rgb(5, 5, 15);


}



.box {
    background-color: blue;
    color: white;
    border-radius: 25px;
    box-shadow: white 0px 0px 10px;
    width: 140px;
    height: 140px;
    padding: 25px;
    background: flex;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;

    align-items: start;
}

.textbox{
width: 289px;
height: 196px;
color: white;
background-color: red;
border-radius: 15px;
padding: 15;
margin: 10px;
box-shadow: white 0px 0p 10px;

}





.box a {
    color: whitesmoke;
}






.card_holder{
display: flex;
gap: 10px;
padding: 10px;



}





.card{
background-color: lightslategray;
width: 100%;
border-radius: 15px;

}




.card img
{
width: calc(100% - 10px);
aspect-ratio: 1;
object-fit: cover;
object-position: top;
border-radius: 15px;
border: 5px solid red;



}
