h1 {
    color: rgb(212, 24, 24);
    background-color: black;
    width: 250px;
}

h2 {
    color: red;
    background-color: black;
    width: 355px;
}

body {
    background-color: darkgrey;


}



.box {
    background-color: blue;
    color: white;
    border-radius: 25px;
    box-shadow: white 0px 0px 10px;
    width: 200px;
    height: 200px;
    padding: 25px;
    background: flex;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;

    align-items: start;
}

.ferrari{
    border-radius: 25px;
    padding: 20px;

    width: 320px;
    height: 400px;

}

.schumacher{
    border-radius: 25px;
    padding: 20px;

    width: 320px;
    height: 370px;
}


.box a {
    color: whitesmoke;
}