h1 {
    color: rgb(212, 24, 24);
    background-color: black;
    width: 1100px;
}

h2 {
    color: red;
    background-color: black;
    width: 355px;
}

body {
    background-color: rgb(5, 5, 15);


}



.box {
    background-color: blue;
    color: white;
    border-radius: 25px;
    box-shadow: white 0px 0px 10px;
    width: 140px;
    height: 140px;
    padding: 25px;
    background: flex;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;

    align-items: start;
}

.box:hover {
    background-color: cornflowerblue;
    animation-delay: 400ms;
    cursor: pointer;
}






.textbox {
    width: 250px;
    height: 150px;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
    box-shadow: white 0px 0px 5px;
    text-align: center;

}

.textbox:hover {
    background-color: tomato;
    animation-delay: 400ms;
    cursor: pointer;
}




.box a {
    color: whitesmoke;

}



.card_holder {
    display: flex;
    gap: 10px;
    padding: 10px;



}





.card {
    background-color: rgb(122, 137, 151);
    width: 100%;
    border-radius: 15px;
    border: red 5px solid;
}




.card img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top;
    border-radius: 15px;




}

.text {
    width: 250px;
    height: 15px;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
    box-shadow: white 0px 0px 5px;
    align-items: center;

}



.card p {
    margin: 5px;
}














