h1{color: rgb(212, 24, 24);
background-color: black;
width: 250px;
}
h2{color: red;
background-color: black;
width: 355px;
}
body{background-color: darkgrey;


}



.box{background-color:blue;
    color: white;
    border-radius: 25px;
    box-shadow: white 0px 0px 10px;
width: 200px;
height: 200px;
padding: 25px;

}
.ferrari.jpg{border-radius: 25px;
padding: 20px;
display:flex ;
flex-wrap: wrap;
margin: 10px;
justify-content: start;
align-items: start;
gap: 10px;
}
.schumacher.jpg{border-radius: 25px;
padding: 20px;
display:flex ;
flex-wrap: wrap;
margin: 10px;
justify-content: start;
align-items: start;
gap: 10px;
width: 100px;
height: 100px;
}




.box{display:flex ;
flex-wrap: wrap;
margin: 10px;
justify-content: start;
align-items: start;
gap: 10px;

}


.box a{color: whitesmoke;}


.header{
display: flex;



}


